
:root {
    --primary: #1168B1;
  --selected: #3E8ECC;
  --hover: #EDF5FC;
  --border: #E9E9E9;
  --secondary: #424242;
  --successVuetify: #4CAF50;
  --error: #D74A4A;
  --info: #2196F3;
  --success: #03A396;
  --warning: #DEA934;
  --packageMarketOverviewBorder: #D9D9D9;
  --background: #F4F4F4;
  --background2: #F5F5F5;
  --background3: #EEF5F9;
  --background4: #888888;
  --background5: #F9F9F9;
  --hovergray: #EEEEEE;
  --hoverprimary: #005BE8;
  --menu1: #A4ADB5;
  --menu2: #3E8ECC;
  --menu3: #00338D;
  --textLightGray: #A4ADB5;
  --textGray: #aaa;
  --activity-log-delete: #483698;
  --filterIcon: #005EB8;
  --borderLight: #ccc;
  --activeClassBackground: #1167B1;
  --borderDark: #999999;
  --expandibleDivBackground: #D8D8D8;
  --expandibleDivText: #333333;
  --launchpadTiles: #1168B1;
  --launchpadDisabledTile: #A7CEEE;
  --launchpadDisabledGradient: #C2DDF4;
  --launchpadAlertTile: #EB959E;
  --lightThemeText: #FFFFFF;
  --standardDefault: #3988C8;
  --standard2: #78C2E4;
  --standard3: #8B90C7;
  --standard4: #EDC86F;
  --standard5: #03A369;
  --defaultAlert: #70B1C7;
  --alert1: #D74A4A;
  --alert2: #EBC058;
  --alert3: #5BC3A2;
  --alert4: #BFCCC8;
  --alert5: #4C8DA3;
  --criticalAlert: #990000;
  --standardGantt1: #BFCCE2;
  --standardGantt2: #9AAED2;
  --standardGantt3: #738FC1;
  --standardGantt4: #4C70AF;
  --standardGantt5: #26519E;
  --standardGantt6: #00338D;
  --standardGantt7: #012A73;
  --lightRed: #F0E2E0;
  --black: #000000;
  --phaseDone: #6AC4A1;
  --tasksGreen: #A5DC86;
  --inputBorder: rgba(0, 0, 0, 0.4);
  --inputBackground: #F5F5F5;
  --exclamationColor: #D84B37;
  --releaseGreen: #028313;
  --releaseOrange: #E06900;
  --releaseBlue: #0066AD;
  --hintGray: #808B96;
  --stringGreen: #186A3B;
  --booleanMaroon: #7B241C;
  --numberOrange: #D35400;
  --keyDarkBlue: #154360;
  --chevronDarkMaroon: #922B21;
  --backgroundBlue: #D4E6F1;
  --alertDangerBackground: #F2DEDE;
  --alertDangerBorder: #EBCCD1;
  --alertDangerColor: #A94442;
  --alertSuccessBackground: #DFF0D8;
  --alertSuccessBorder: #D6E9C6;
  --alertSuccessColor: #3C763D;
  --disabledBackground: #00001F;
  --disabledColor: #000042;
  --blueMadison: #428BCA;
  --background3-darken4: #878787;
  --background4-darken1: #6F6F6F;
  --hoverprimary-lighten5: #CDDDFF;
  --textLightGray-darken2: #707980;
  --textLightGray-darken3: #586067;
  --toastError: #D84837;
  --toastSuccess: #6AC4A1;
  --toastWarn: #DEA934;
  --sizePositionBoxShadow: #012769;
  --deleteIconAddParam: #D84A38;
  --editorOptionButton: #ddd;
  --tableBorder: #F2F2F2;
  --fileUploadDropArea: #D2D2D3;
  --tabsBadgeColor: #C74639;
  --externalApiBackground: #EDEDED;
  --dashBoardList: #2068B1;
  --helpInlineColor: #737373;
  --objectManageHighlight: #3360EA;
  --packageOverviewText: #797979;
  --packageOverviewLine: #E1E1E1;
  --packageOverviewCarousel: #666;
  --packageOverviewCarouselContainer: #F2F2F2;
  --packageMarketOviewviewBoxShadow: #e0e0e0c9;
  --v-theme-surface-bright: #1168B1;
  --v-theme-surface-variant: #00000066;
}